#Configurações da Aplicação Híbrida

# Porta do servidor 
PORT=3000 

# Configurações de ambiente
NODE_ENV=development

#Configurações do MongoDb
mongodb+srv://aurogarcia833_db_user:<db_password>@cluster0.d7wazmx.mongodb.net/?appName=Cluster0
# Configurações de segurança (para aulas futuras)
JWT_SECRET=seu_jwt_secret_aqui
SESSION_SECRET=seu_session_secret_aqui